[user]
    name = Pierre Seznec
    email = pierre.seznec@spacelephant.org
[pull]
	rebase = true

[push]
	default = simple

[alias]
        l = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
